html
	.default-theme
		--c-headers: #000
		--c-text: #303132
		--c-dimmed: #797b7e
		--c-dimmed-light: #b6c0ca
		
		--c-link: #0479ff
		--c-selected: #2180c2
		--c-bg-z0: #ddd
		--c-bg-z1: #F6F6F8
		--c-bg-z2: #fff
		--c-bg-z3: #1a1b23
		--c-bg-z4: #21222b
		--c-bg-z5: #262833
		--c-bg-sidebar: #1B1C29
		--c-border: #dcdee4

		// --c-info: #2180c2
		--c-info: #0479ff
		--c-success: #1ab27f
		--c-warning: #ad841d
		--c-error: #CE1938

		--c-gold: #ffc900
		--c-blue: #2180c2
		--c-red: #CE1938


		--c-bg-light-hover: #f3f6f9
		--c-bg-light-active: #ecf4ff

