html
	--c-headers: #000
	--c-text: #333
	--c-links: blue
	--c-bg-z0: #ddd
	--c-bg-z1: #F6F6F8
	--c-bg-z2: #fff
	--c-bg-z3: #1a1b23
	--c-bg-z4: #21222b
	--c-bg-z5: #262833
	--c-bg-sidebar: #1B1C29
	--c-border: #dcdee4