
// Push Top
.pushTop-enter-active, .pushTop-leave-active
	transition: transform .3s ease-in-out
.pushTop-enter-from, .pushTop-leave-to
	transform: translateY(-30rem)
	width: 0
.pushTop-enter-to, .pushTop-leave-from
	transform: translateY(0)

// // Push left
// .pushLeft-enter-active, .pushLeft-leave-active
// 	transition: transform .3s ease-in-out
// .pushLeft-enter-from, .pushLeft-leave-to
// 	transform: translateX(-15em)
// .pushLeft-enter-to, .pushLeft-leave-from
// 	transform: translateX(0)