html
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
	color: var(--c-text, #aaa)
	background: var(--c-bg-z0, #000)

audio, canvas, iframe, img, svg, video
	vertical-align: middle

fieldset
	margin: 0
	padding: 0
	border: 0

textarea
	resize: vertical

a
	color: var(--c-links, blue)
	text-decoration: none