#app-container
	color: var(--c-text, #aaa)
	background: var(--c-bg-z0, #000)

a
	color: var(--c-link, blue)
	text-decoration: none

.divider
	width: 100%
	height: 1px
	margin: 2em auto
	background: var(--c-border)
	grid-column: 1 / -1

.card-style
	padding: 1em
	border-radius: 0.5em
	background: #fff
	box-shadow: 0 1px 2px rgba(0,0,0,.2)