flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import 'nib'

@import "normalize"
@import "typography"
@import "colors"
@import "vars"
@import "general"
@import "skeleton"
@import "effects"

@import "tooltip"