#app
	width: 100vw
	height: 100vh

#app-container
	width: 100%
	height: 100%


// Form
form.form-container
	display: flex
	flex-wrap: wrap
	gap: 1em
	> *
		flex: 1 0 100%
	.fl-full
		flex: 1 0 100%

.grid-6
	display: grid
	grid-template-columns: repeat(6, auto)
	// align-items: flex-end
	gap: 1em
	> *
		grid-column: 1 / -1
	.col-5
		grid-column: span 5 !important
	.col-4
		grid-column: span 4 !important
	.col-3
		grid-column: span 3 !important
	.col-2
		grid-column: span 2 !important
	.col-1
		grid-column: span 1 !important

// Grid
.col-full
	grid-column: 1 / -1
.col-5
	grid-column: span 5 !important
.col-4
	grid-column: span 4 !important
.col-3
	grid-column: span 3 !important
.col-2
	grid-column: span 2 !important
.col-1
	grid-column: span 1 !important


.flex-column-container
	flex: 1
	min-height: 0
	display: flex
	flex-direction: column
.section-scrolled
	flex: 1
	overflow-y: auto
.section-fixed
	flex: 0