[tooltip]
	position: relative
	&:before
		content: ""
		position: absolute
		border: 5px solid transparent
		z-index: 1001
		opacity: 0
		pointer-events: none
		display: none
		color: var(--c-tooltip-color)

	&:after
		content: attr(tooltip)
		text-align: center
		position: absolute
		min-width: 3em
		max-width: 21em
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding: 0.5rem
		border-radius: 0.3rem
		box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35)
		background: var(--c-tooltip-bgColor)
		color: var(--c-tooltip-color)
		font-size: var(--c-tooltip-fontSize)
		z-index: 1000
		opacity: 0
		pointer-events: none
		display: none

	&:hover:before,
	&:hover:after
		display: block

	&:not([position]):before,
	&[position^="top"]:before
		bottom: 100%
		border-bottom-width: 0
		border-top-color: var(--c-tooltip-bgColor)
		bottom: calc(100% + 5px)

	&:not([position]):after,
	&[position^="top"]::after
		bottom: calc(100% + 10px)

	&:not([position])::before,
	&:not([position])::after,
	&[position^="top"]::before,
	&[position^="top"]::after
		left: 50%
		transform: translate(-50%, -0.5em)

	&[position^="bottom"]::before
		top: calc(105% + 5px)
		border-top-width: 0
		border-bottom-color: var(--c-tooltip-bgColor)

	&[position^="bottom"]::after
		top: calc(105% + 10px)

	&[position^="bottom"]::before,
	&[position^="bottom"]::after
		left: 50%
		transform: translate(-50%, 0.5em)

	&[position^="left"]::before
		top: 50%
		border-right-width: 0
		border-left-color: var(--c-tooltip-bgColor)
		left: calc(0em - 10px)
		transform: translate(-0.5em, -50%)

	&[position^="left"]::after
		top: 50%
		right: calc(100% + 10px)
		transform: translate(-0.5em, -50%)

	&[position^="right"]::before
		top: 50%
		border-left-width: 0
		border-right-color: var(--c-tooltip-bgColor)
		right: calc(0em - 10px)
		transform: translate(0.5em, -50%)

	&[position^="right"]::after
		top: 50%
		left: calc(100% + 10px)
		transform: translate(0.5em, -50%)


	&:not([position]):hover::before,
	&:not([position]):hover::after,
	&[position^="top"]:hover::before,
	&[position^="top"]:hover::after,
	&[position^="bottom"]:hover::before,
	&[position^="bottom"]:hover::after
		animation: tooltips-vert 300ms ease-out forwards

	&[position^="left"]:hover::before,
	&[position^="left"]:hover::after,
	&[position^="right"]:hover::before,
	&[position^="right"]:hover::after
		animation: tooltips-horz 300ms ease-out forwards

[tooltip=""]::before,
[tooltip=""]::after
	display: none !important

@keyframes tooltips-vert
	to
		opacity: 1
		transform: translate(-50%, 0)
		display: inline-block

@keyframes tooltips-horz
	to
		opacity: 1
		transform: translate(0, -50%)
		display: inline-block
